#vin{
    position: absolute;
    top: 880px;
    left: 100px;
}

#paul{
    position: absolute;
    top: 880px;
    left: 250px;
}

#michelle{
    position: absolute;
    top: 880px;
    left: 400px;
}

#jordana{
    position: absolute;
    top: 880px;
    left: 550px;
}

#rick{
    position: absolute;
    top: 880px;
    left: 700px;
}
